:root {
    /* --text: rgb(15, 8, 23);
  --background: rgb(237, 229, 246);
  --primary: rgb(76, 33, 120);
  --secondary: rgb(185, 172, 217);
  --accent-color: rgb(115, 170, 60); */
  
    --text: #050505;
    --background: #FBFEC1;
    --primary: #755bb4;
    --secondary: #b1a7d6;/*  #cdd4fe; */
    --accent-color: #d41d6d;
  
    --main-bg-color: var(--primary);
  
    --secondary-color: rgb(185, 172, 217);
    --primary-color: red;
    --accent-color: red;
    /* --main-fg-color: rgb(46, 48, 51); */
    /* --main-fg-color: brown; */
    /* background-color: var(--main-bg-color); */
  }
  /* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=74i0u0khIy47LS0d3IdlGsSqwpl */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

.color-primary-0 { color: #755BB4 }	/* Main Primary color */
.color-primary-1 { color: #C5B6E8 }
.color-primary-2 { color: #9A84D0 }
.color-primary-3 { color: #5A3E9E }
.color-primary-4 { color: #42248A }

.color-secondary-1-0 { color: #9552AF }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #D8B1E7 }
.color-secondary-1-2 { color: #B67DCD }
.color-secondary-1-3 { color: #7D3699 }
.color-secondary-1-4 { color: #681C86 }

.color-secondary-2-0 { color: #F6FD71 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FBFEC1 }
.color-secondary-2-2 { color: #F8FE96 }
.color-secondary-2-3 { color: #DCE449 }
.color-secondary-2-4 { color: #C0C822 }

.color-complement-0 { color: #FFEA72 }	/* Main Complement color */
.color-complement-1 { color: #FFF6C1 }
.color-complement-2 { color: #FFEF97 }
.color-complement-3 { color: #E6CF4A }
.color-complement-4 { color: #CAB123 }